.light-mode {
    background-color: white;
    color: black;
    border:none;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
    border:none;
  }
   
.dark-mode-toggle {
    position: fixed;       
    background: none; 
    border: none;     
    cursor: pointer; 
    padding: 0;       
    z-index: 1000;   
  }
  
  .dark-mode-toggle img {
    width: 2.3vw;   
    height: 2.3vw;
    min-width: 25px; 
    min-height: 25px;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
    padding: 30%;
  }
  
  .dark-mode-toggle img:active {
    transform: scale(0.9); 
  }
  