.hobbies-container {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.hobbies-title {
    font-size: clamp(16px, 1.5vw, 28px);
    font-weight: bold;
    margin-bottom: 1rem;
}

.hobbies-subtitle {
    font-size: clamp(12px, 1vw, 24px);
    color: #666;
    margin-bottom: 2rem;
}
 

.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: clamp(20px, 5vw, 40px); 
    justify-content: center;
    align-items: center;
}


.hobby-item {
    text-align: center;
    padding: clamp(10px, 2vw, 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 아이콘 스타일 */
.hobby-icon {
    width: clamp(50px, 6vw, 70px);
    height: clamp(50px, 6vw, 70px);
    background-color: #e5f0fa;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: clamp(5px, 1vw, 10px);
}

@media (max-width: 768px) {
    .hobbies-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* 모바일에서는 한 줄에 하나씩 */
@media (max-width: 480px) {
    .hobbies-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
