/* src/pages/Home.css */
.home-container {
  display: flex;
  height: 113vh;
  align-items: center;
  justify-content: space-between;
  position: relative;
  
}

/* 왼쪽 텍스트 스타일 */
.text-box {
  width: 40%;
  padding: 2rem;
  font-size: 1.5rem;
}

/* src/pages/Home.css */
.image-container {
  position: absolute;
  right: 0;
  width: 60vw;
  height: 60vw;
  background-size: cover;
  background-position: center;
}


/* 뿌연 효과 */
.overlay {
  position: absolute;
  right: 0;
  width: 60vw;
  height: 60vw;
  background: rgba(255, 255, 255, 0.5); /* 흰색 반투명 */
}
