/* Home.css */
.home-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* 왼쪽 텍스트 스타일 */
.text-box {
  width: 40%;
  padding: 2rem;
  font-size: 1.5rem;
}

.image-container {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100%;
  background: url("/images/me.jpg") no-repeat center center/cover;
}


/* 뿌연 효과 */
.overlay {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* 흰색 반투명 */
}
